<div class="container">
	<div class="progress">
		<time-bar class="progress-bar"></time-bar>
	</div>

	<game></game>

	<!-- GAME BOARD -->
	<div class="row">
		<div class="col-sm-10">

		<!-- GAME OVER SLIDE -->
		<game-over></game-over>

			<ul class="hide-bullets">
				<li ng-repeat="bricksArray in bricksMultiArray">	
					<ul class="hide-bullets">
						<li ng-repeat="brick in bricksArray">
							<div class="square thumbnail col-sm-2" ng-click="gameStart(); checkColor(brick.color)" ng-style="brick.style"></div>
						</li>
					</ul>
				</li>
			</ul>
		</div>


		<div class="col-sm-2 score">			
			<div class="progress progress-bar-vertical">
			<div class="progress-bar progress-bar-danger progress-bar-striped" ng-style="points.progress">
				</div>
			</div>
			<div class="score-circle">	
				{{points.score}}
			</div>
		</div>
	</div>
</div>
